<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 navLink">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
                <li class="breadcrumb-item"><a [routerLink]="['/serviceList']">Service List</a></li>
                <li class="breadcrumb-item">Cart</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="offset-md-2 col-md-8">
            <div class="card border-info mb-3">
                <div class="card-header">Create Custom Template</div>
                <div class="card-body">
                    <h4 class="card-title">Your Cart</h4>
                    <hr>
                    <div *ngIf="DbList.length != 0">
                        <h5 class="card-subtitle text-muted">Database</h5>
                        <table class="table table-hover">
                            <tbody>
                                <tr class="table-light">
                                    <td><img src="../../../assets/AWS.jpg" width="50px" height="30px" alt=""></td>
                                    <th scope="row">First Database</th>
                                    <td>DB</td>
                                    <td>Column content</td>
                                    <td>Column content</td>
                                </tr>
                                <tr class="table-light">
                                    <td><img src="../../../assets/GCP.jpg" width="50px" height="30px" alt=""></td>
                                    <th scope="row">Second Database</th>
                                    <td>Column content</td>
                                    <td>Column content</td>
                                    <td>Column content</td>
                                </tr>
                                <tr class="table-light">
                                    <td><img src="../../../assets/Azure.jpg" width="50px" height="30px" alt=""></td>
                                    <th scope="row">Third Database</th>
                                    <td>Column content</td>
                                    <td>Column content</td>
                                    <td>Column content</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div *ngIf="ComputeList.length != 0">
                        <h5 class="card-subtitle text-muted">Compute</h5>
                        <table class="table table-hover">
                            <tbody>
                                <tr class="table-info">
                                    <th scope="row">First Database</th>
                                    <td>DB</td>
                                    <td>Column content</td>
                                    <td>Column content</td>
                                </tr>
                                <tr class="table-info">
                                    <th scope="row">Second Database</th>
                                    <td>Column content</td>
                                    <td>Column content</td>
                                    <td>Column content</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div *ngIf="StorageList.length != 0">
                        <h5 class="card-subtitle text-muted">Storage</h5>
                        <table class="table table-hover">
                            <tbody>
                                <tr class="table-info">
                                    <th scope="row">First Database</th>
                                    <td>DB</td>
                                    <td>Column content</td>
                                    <td>Column content</td>
                                </tr>
                                <tr class="table-info">
                                    <th scope="row">Second Database</th>
                                    <td>Column content</td>
                                    <td>Column content</td>
                                    <td>Column content</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <hr>
                    <button type="submit" 
                    (click)="onTemplateSubmit()"
                    class="btn btn-info">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" >
       
        <p *ngIf="show">Best Approved  Stack
        {{BestApprovedCombination1}} --> {{BestApprovedCombination2}} --> {{BestApprovedCombination3}}
        </p>

        <p *ngIf="show">Best UnApproved Stack
            {{BestApprovedCombination1}} --> {{BestApprovedCombination2}} --> {{BestApprovedCombination3}}
            </p>

            <p *ngIf="show">Best Combined Stack
                {{BestApprovedCombination1}} --> {{BestApprovedCombination2}} --> {{BestApprovedCombination3}}
                </p>
    </div>
</div>
<!-- <app-combinationtemplate
[Sample]="Sample"
>

</app-combinationtemplate> -->