
  <div class="container">
    <div class="row">
        <div class="col-md-6">

            <form #myform="ngForm" (ngSubmit)="onSubmit(myform.value)">

                <div class="form-group">
                    <label for="projectname">Title *</label>
                    <input #projectname="ngModel" ngModel name="projectname" required id="projectname" type="text"
                        class="form-control">
                    <div class="alert alert-danger" *ngIf="projectname.touched && projectname.invalid">
                        <span>Project Name is required</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="projectType">Project Type *</label>
                    <input #projecttype="ngModel" ngModel name="projectType" required id="projectType" type="text"
                        class="form-control">
                    <div class="alert alert-danger" *ngIf="projecttype.touched && projecttype.invalid">
                        <span>Project Type is required</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="frontend">Front End *</label>
                    <input #frontend="ngModel" ngModel name="frontend" id="frontend" type="text" class="form-control">
                    <div class="alert alert-danger" *ngIf="frontend.touched && frontend.invalid">
                        <span>frontend is required</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="backend">Back End *</label>
                    <input #backend="ngModel" ngModel name="backend" id="backend" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="webserver">Web Server *</label>
                    <input #webserver="ngModel" ngModel name="webserver" id="webserver" type="text"
                        class="form-control">
                </div>
                <div class="form-group">
                    <label for="database">Database *</label>
                    <input #database="ngModel" ngModel name="database" id="database" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="caching">Caching Model *</label>
                    <input #caching="ngModel" ngModel name="caching" id="caching" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>CloudProvider
                        <br>
                        <input #aws="ngModel" ngModel name="aws" type="checkbox">Aws
                        <input #gcp="ngModel" ngModel name="gcp" type="checkbox">GCP
                        <input #azure="ngModel" ngModel name="azure" type="checkbox">Azure
                    </label>
                </div>
                <div class="form-group">
                    <label for="etc">Other Requirements *</label>
                    <textarea #etc="ngModel" ngModel name="etc" id="etc" type="text" class="form-control"></textarea>
                    <br />
                    <input class="btn btn-primary" type="submit" value="Save">
                </div>
            </form>
        </div>

        <div class="col-md-6">
            
            <div class="card"  *ngIf="projectname.value">
                <div class="card-header">
                  <h4 class="text">Details Entered</h4>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <span *ngIf="projectname.value">
                            Project Title - {{projectname.value}}
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span *ngIf="projecttype.value">
                            Project Type - {{projecttype.value}}
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span *ngIf="frontend.value">
                            Front End - {{frontend.value}}
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span *ngIf="backend.value">
                            Back End - {{backend.value}}
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span *ngIf="webserver.value">
                            Web Server - {{webserver.value}}
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span *ngIf="database.value">
                            Database - {{database.value}}
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span *ngIf="caching.value">
                            Caching Model - {{caching.value}}
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span *ngIf="database.value">
                            CloudProvider - {{database.value}}
                        </span>
                    </li>
                    <li class="list-group-item">
                        <div *ngIf="etc.value">
                            Other Requirements - {{etc.value}}
                        </div>
                    </li>
                </ul>
              </div>
        </div>


  </div>
   