<div class="card1" [class]="service.category" (click)="openDetail()">
    <div class="item" id="title">
        <h2 class="item sub">{{service.providerName}}</h2>
        <h2 class="item main">{{service.serviceName}}</h2>
    </div>
    <h3 class="item desc">{{service.description}}</h3>
    <div class="footer">
        <h4 class="item">{{service.category}}</h4>
        <div class="footer">
            <h4 id="rating">{{service.rating}}</h4>
            <span class="stars">
                <span [style.width] = "getStars()"></span>
            </span>
        </div>       
    </div>  
</div>