<div class="card1 card">
    <div class="item card-header" id="title" (click)="openDetail()">
        <!-- <h3 class="item sub">{{service.providerName}}</h3> -->
        <h4 class="item main ">3-Tier Arch</h4>
        <!-- <img id="title_image" [src]="imgUrl"> -->
    </div>
    <div class="card-body">
        <div class="item">
            <div class="d-flex justify-content-between">
                <h6 class="card-subtitle text-muted">Category</h6>
                <!-- <i *ngIf = "service.isApproved" class="card-subtitle fa fa-lg fa-check-circle text-success"></i>
                <i *ngIf = "!service.isApproved" class="card-subtitle fa fa-lg fa-check-circle text-muted"></i> -->
            </div>
            <h5 class="card-title">AWS EC2 + Azure SQL + Kubernative</h5>
        </div>
        <div class="item">
            <!-- <h6 class="card-subtitle text-muted">Summary</h6> -->
            <p class="desc card-text">Best with Angular as frontend and Spring-boot as backend</p>
        </div>
    </div>
    <div class="footer" id="footer">
        <h5 id="detail" (click)="openDetail()"><strong>DETAILS</strong></h5>
        <!-- <i class="fa fa-plus-square fa-2x" id="addToCart"></i> -->
        <rating-star  TotalStar = '5' color = 'gold' ></rating-star>     
    </div>  
</div>