<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 navLink">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
                <li class="breadcrumb-item"><a [routerLink]="['/serviceList']">Service List</a></li>
                <li class="breadcrumb-item">Final Cart Components</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="offset-md-2 col-md-8">
            <div class="card border-info mb-3">
                <div class="card-header">Based On Your Selection</div>
                <div class="card-body">
                    <h4 class="card-title">Your Cart</h4>
                    <hr>
                    <h5 class="card-subtitle">Approved Cobination Stack</h5>
                    <div >

                        <table class="table table-hover">
                            <thead>
                                
                                <tr>
                                    <th scope="col" style="width: 200px;"> 
                                    </th>
                                    <th scope="col" style="width: 350px;">Service Name</th>
                                    <th scope="col" style="width: 200px;">Category</th>
                                    <th scope="col" style="width: 200px;">Rating</th>
                                    <th scope="col" style="width: 200px;">Approved</th>
                                    <th scope="col" style="width: 200px;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr  class="table-light">
                                    <td><img src="" height="30px" alt=""></td>
                                    <td>
                                        <h5>Compute</h5>
                                    </td>
                                    <td>Database</td>
                                    
                                    <td>
                                        <!-- <img *ngIf="db.isApproved" class="approve "
                                            src="../../../assets/shield_approval.svg">
                                        <img *ngIf="!db.isApproved" class="approve "
                                            src="../../../assets/shield_notapproval.svg"> -->
                                    </td>
                                    <td>
                                        <i class="fas fa-times cross"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="card-body">
                        <h5 class="card-subtitle">UnApproved Cobination Stack</h5>
                        <div >
    
                            <table class="table table-hover">
                                <thead>
                                    
                                    <tr>
                                        <th scope="col" style="width: 200px;"> 
                                        </th>
                                        <th scope="col" style="width: 350px;">Service Name</th>
                                        <th scope="col" style="width: 200px;">Category</th>
                                        <th scope="col" style="width: 200px;">Rating</th>
                                        <th scope="col" style="width: 200px;">Approved</th>
                                        <th scope="col" style="width: 200px;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr  class="table-light">
                                        <td><img src="" height="30px" alt=""></td>
                                        <td>
                                            <h5>{{BestUnApprovedCombination1}}</h5>
                                            <h5>{{BestUnApprovedCombination1}}</h5>
                                            <h5>{{BestUnApprovedCombination1}}</h5>
                                        </td>
                                        <td>{{BestUnApprovedCombination2}}</td>
                                        
                                        <td>
                                            <!-- <img *ngIf="db.isApproved" class="approve "
                                                src="../../../assets/shield_approval.svg">
                                            <img *ngIf="!db.isApproved" class="approve "
                                                src="../../../assets/shield_notapproval.svg"> -->
                                        </td>
                                        <td>
                                            <i class="fas fa-times cross"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="card-body">
                            <h5 class="card-subtitle">Combined Cobination Stack</h5>
                            <div >
        
                                <table class="table table-hover">
                                    <thead>
                                        
                                        <tr>
                                            <th scope="col" style="width: 200px;"> 
                                            </th>
                                            <th scope="col" style="width: 350px;">Service Name</th>
                                            <th scope="col" style="width: 200px;">Category</th>
                                            <th scope="col" style="width: 200px;">Rating</th>
                                            <th scope="col" style="width: 200px;">Approved</th>
                                            <th scope="col" style="width: 200px;">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr  class="table-light">
                                            <td><img src="" height="30px" alt=""></td>
                                            <td>
                                                <h5>Compute</h5>
                                            </td>
                                            <td>Database</td>
                                
                                            <td>
                                                <i class="fas fa-times cross"></i>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                   
                    
                    <hr>

                </div>
            </div>
        </div>
    </div>
