<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 navLink">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
                <li class="breadcrumb-item"><a [routerLink]="['/serviceList']">Service List</a></li>
                <li class="breadcrumb-item">Final Cart Components</li>
                
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="offset-md-2 col-md-8">
            <div class="card border-info mb-3">
                <div class="card-header">Based On Your Selection</div>
                <div class="card-body">
                    <h4 class="card-title"></h4>
                    <hr>
                    <h5 class="card-subtitle">Approved Combination Stack</h5>
                    <div >

                        <table class="table table-hover">
                            <thead>
                                <tr *ngIf="approveStackArray.length>0">
                                <th>Provider Name</th>
                                <th>Service Name</th>
                                <th>Category</th>
                                <th>Rating</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr  class="table-light">
   
                                    <td *ngFor="let approve of approveStackArray">
                                        <h5>{{approve.providerName}}  {{approve.ServiceName}} {{approve.category}} {{approve.rating}}</h5>
                                    </td>
                                    <td *ngIf="ApprovedStackMessage.length>0">
                                        <h5>{{ApprovedStackMessage}}</h5>
                                    </td>
                        
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="card-body">
                        <h5 class="card-subtitle">UnApproved Combination Stack</h5>
                        <div >
    
                            <table class="table table-hover">
                                <thead>
                                </thead>
                                <tbody>
                                    <tr  class="table-light">
                                        <td><img src="" height="30px" alt=""></td>
                                        <td>
                                            <h5>{{BestUnApprovedCombination1}} {{BestUnApprovedCombination2}} {{BestUnApprovedCombination3}}</h5>
                            
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="card-body">
                            <h5 class="card-subtitle">Combined Combination Stack</h5>
                            <div >
        
                                <table class="table table-hover">
                                   
                                    <tbody>
                                        <tr  class="table-light">
                                            <td><img src="" height="30px" alt=""></td>
                                            <td>
                                                <h5>{{BestCombinedCombination1}} {{BestCombinedCombination2}} {{BestCombinedCombination3}}</h5>

                                            </td>
                
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                   
                    
                    <hr>

                </div>
            </div>
        </div>
    </div>


    