<div class="container_css">
    <div class = "stars" *ngFor = 'let number of numbers'>
        <div class="stars"> 
            <i *ngIf = 'rating[2*number]==1 ' class="fas fa-star" [class]="size" [style.color]='color'></i>
            <div *ngIf = 'rating[2*number+1]==1' class = "stars">   
                <i class="fas fa-star-half-alt" [class]="size" [style.color]='color'></i>
            </div>
            <div *ngIf = 'rating[2*number]==0' class="stars">
                <i *ngIf = 'number==0 && half' class="fas fa-star-half-alt" [class]="size" [style.color]='color'></i>
                <i *ngIf = 'number!=0 || !half' class="far fa-star" [class]="size" [style.color]='color'></i>
            </div>
        </div>
    </div>
</div>


