@import "~bootswatch/dist/pulse/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/pulse/bootswatch";
.container_css{
    display: grid;
    // grid-template-columns: repeat( auto-fill, minmax(300px, 100%) );
    // border: 2px solid black;
    min-height: 100vh;
    align-content: center;
    justify-content: center;
    background-color: white;

}

.detail{
    display: grid;
    // border: 2px solid red;
    background-color: whitesmoke;
    max-width: 85vw;
    min-width: 85vw;
    margin: 6em;
    // padding: 3em;
    box-shadow: 0 3px 3px -2px rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12);
}

h1{
    margin: 0px;
    align-self: center;
    // font-size: 2em;
}

.title{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(290px, 1fr) );
    height: 8em;
    align-content: center;
    padding: 0px 80px;
}

.body{
    padding: 1em 5em 5em 5em;
    text-align: justify;
    min-height: 100vh;
    display: grid;
    grid-template: 5em 4em auto/ 1fr 1fr;
    .body_item{
        margin: 1em 0px;
    }
    h2{
        margin: 0px;
    }
    #tabs{
        grid-column: 1/span 2;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto 1fr;
        justify-content: start;
        align-self: center;
        margin-top: 20px;
        .tab_item{
            margin: 0px 10px 0px 0px;
            padding: 15px;
            height: 50px;
            text-align: center;
        }
        .tab_item:hover{
            background-color: wheat;
            cursor: pointer;
        }
    }
    #category{
        align-self: center;
    }
    #rating{
        align-self: center;
        text-align: end;
    }
    .tab_content{
        grid-column: 1/span 2;
        border: 6px solid wheat;
        padding: 2em 5em;
        max-height: 100vh;
        overflow: overlay;
    }
    
}

.image{
    max-width: 100%;
    max-height: 4em;
    justify-self: end;
}

.active{
    background-color: wheat;
}

.rating-star{
    align-self: center;
}