<div class="container">
    <div class="detail">
        <div class="title">
            <h1>{{service.serviceName}}</h1>
            <!-- <h3>AWS</h3> -->
            <img class="image" [src]="imgUrl">
        </div>
        <div class="body">
            <div class="body_item" id="category"><h2>{{service.category}}</h2></div>
            <div class="body_item" id="rating"><h2>{{service.rating}}</h2></div>
            <div class="body_item" id="tabs">
                <div class="tab_item" [class]='desc' (click)='openTabDesc()'>Description</div>
                <div class="tab_item" [class]='spec' (click)='openTabSpec()'>Specification</div>
                <div class="tab_item" [class]='review'  (click)='openTabRevire()'>Reviews</div>
            </div>
            <div *ngIf="desc =='active'" class="tab_content">{{service.description}} Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita corrupti nam nesciunt maiores similique, modi numquam illum est magni? Eveniet illum quaerat iure. Rerum similique expedita nulla ullam pariatur illo?</div>
            <div *ngIf="spec =='active'" class="tab_content">Specification details</div>
            <div *ngIf="review =='active'" class="tab_content">Reviews & Comments</div>
        </div>
    </div>
</div>