<div class="card1 card">
    <div class="item card-header" id="title" (click)="openDetail()">
        <h4 class="item main ">{{service.serviceName}}</h4>
        <img id="title_image" [src]="imgUrl">
    </div>
    <div class="card-body">
        <div class="item">
            <div class="d-flex justify-content-between">
                <h6 class="card-subtitle text-muted">Category</h6>
                <img *ngIf = "service.isApproved" class="approve " src="../../../assets/shield_approval.svg">
                <img *ngIf = "!service.isApproved" class="approve " src="../../../assets/shield_notapproval.svg">
            </div>
            <h5 class="card-title">{{service.category}}</h5>
        </div>
        <div class="item">
            <!-- <h6 class="card-subtitle text-muted">Summary</h6> -->
            <p class="desc card-text">Get on-demand, highly scalable and protected virtualised infrastructure, Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, iusto.</p>
        </div>
    </div>
    <div class="footer" id="footer">
        <h5 id="detail" (click)="openDetail()"><strong>DETAILS</strong></h5>
        <i class="fa fa-plus-square fa-2x" id="addToCart"></i>
        <rating-star  TotalStar = '5' [value] = 'service.rating' color = 'gold' size=''></rating-star>     
    </div>  
</div>