<div class="login-container">
    <div class="login">
      <div class="ele_img" id="login img">
        <img src="assets/user.jpg">
      </div>
      <div class="ele" id="form">
        <h1 class="item">USER LOGIN</h1>
        <input class="item" type="text" placeholder="Email ID">
        <input class="item" type="password" placeholder="Password">
        <button class="item" (click)=onSubmit()>LOGIN</button>
        <label class="item">Forgot username/password ?</label>
      </div>
    </div>
  </div>