@import "~bootswatch/dist/cerulean/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/cerulean/bootswatch";

.container_css{
    // border: 2px solid black;
    padding-top: 61px;
    background-color:whitesmoke;
    min-height: calc( 100vh -51px);
}

.navbar{
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 99999;
    height: 61px;
}

#login{
    margin: 10px;
    background: transparent !important;
    color: white;
}

#navbar{
    background: url("../assets/bg.jpg");
    // background-color:#337ab7;
    background-size: cover;
}

.dropdown-item{
    font-family: sans-serif;
}