<!-- <nav  class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
    <a id="title" [routerLink]="['/home']">Smart Catalog</a>
    <div class="navButton" id="navBtn">
        <a class="active item" [routerLink]="['/home']">
            Home
        </a>
        <a class="item">
            AWS
        </a>
        <a class="item">
            Azure
        </a>
        <a class="item">
            GCP
        </a>
    </div>

    <div class="btns">
        <span id="greeting">Welcome User</span>
        <button >
            Contact Us
        </button>
        <button [routerLink]="['/login']">
            Logout
        </button>
    </div>
</nav > -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="navbar">
    <a class="navbar-brand" [routerLink]="['/home']">Smart-Catalog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">AWS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">GCP</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Azure</a>
        </li>
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form> -->
      <button type="button" class="btn btn-secondary my-2 my-sm-0" [routerLink]="['/login']">Logout</button>
    </div>
  </nav>

<div class="container_css" id="view">
    <router-outlet></router-outlet>
</div>