*{
    box-sizing: border-box !important;
    font-family: 'Ubuntu', sans-serif;
}

html,
body {
  height: 100%;
  margin: 0px;
    padding: 0px;
    background-color:whitesmoke;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.primary{
  background-color: #d1c4e9;
  color: black !important;
}
.p-light{
  background-color: #fff7ff;
}
.p-dark{
  background-color: #a094b7;
  color: black !important;
}
.secondary{
  background-color: #ffe0b2;
  color: black;
}
.s-light{
  background-color: #ffffe4;
}
.s-dark{
  background-color: #cbae82;
}

