@import "~bootswatch/dist/pulse/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/pulse/bootswatch";

*{
    box-sizing: border-box !important;
    font-family: 'Ubuntu', sans-serif;
}

html,
body {
  height: 100%;
  margin: 0px;
    padding: 0px;
    background-color:whitesmoke;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.primary{
  background-color: #d1c4e9;
  color: black !important;
}
.p-light{
  background-color: #fff7ff;
}
.p-dark{
  background-color: #a094b7;
  color: black !important;
}
.secondary{
  background-color: #ffe0b2;
  color: black;
}
.s-light{
  background-color: #ffffe4;
}
.s-dark{
  background-color: #cbae82;
}

.row{
  margin-left: 0px;
  margin-right: 0px;
}
.marT24{
  margin-top: 24px;
}

.marL24{
  margin-left: 24px;
}

.marR24{
  margin-right: 24px;
}

.marB24{
  margin-bottom: 24px;
}

.marT20{
  margin-top: 20px;
}

.marL20{
  margin-left: 20px;
}

.marR20{
  margin-right: 20px;
}

.marB20{
  margin-bottom: 20px;
}

.marT30{
  margin-top: 30px;
}

.marL30{
  margin-left: 30px;
}

.marR30{
  margin-right: 30px;
}

.marB30{
  margin-bottom: 30px;
}

